# Airflow
config/
*.cfg
*.log
logs/

# python
.venv/
__pycache__/
*.pyc

# Jupyter Notebook
notebooks/
.ipynb_checkpoints/

# dbt
target/
logs/
*.log

# terraform
.terraform/
*.tfstate
*.tfstate.backup

# Credentials
*.json
*.env

# gzip files
*.gz

# Others
Setting_up_env.md